
<h3> Modalidade de Transporte</h3> 

<% @transport_types.each do |t|%>
  <div>
    <ul>
      <li>  <%= link_to t.name, transport_type_url(t.id)%> </li>
    </ul>
  </div>
  <div>
    <p> Taxa fixa: <%= number_to_currency(t.currency, unit: "R$", separator: ",", delimiter: "") %> </p>
    <p> Distância Máxima: <%= t.max_distance%>Km </p>
  </div>
<%end%>
<div>
  <%if current_user.is_admin? %>
    <%= link_to "Cadastrar Modalidade de Transporte", new_transport_type_url %>
  <%end%>
</div>