
<h3> Modalidade de Transporte</h3> 

<% @transport_types.each do |t|%>
  <div>
    <%= link_to t.name, transport_type_url(t.id)%>
  </div>
  <div>
    <p> Taxa fixa: R$<%= t.fixed_rate%> </p>
     
    <p> Distância Máxima:   <%= t.max_distance%>Km </p>
    
  </div>
<%end%>
  <div>
  <%if current_user.is_admin? %>
    <%= link_to "Cadastrar Modalidade de Transporte", new_transport_type_url %>
  <%end%>
  </div>