<h2>Cadastrar Ordem de Serviço</h2>
<%if(@service_order.errors.any?)%>
  <p>Verifique os erros abaixo:</p>
  <ul>
    <% @service_order.errors.full_messages.each do |msg|%>
      <li><%= msg %> </li>
    <%end%>
  </ul>
<%end%>

<%= form_with(model: @service_order ) do |f| %>
  <%= render 'form', f: f %>
<% end %>