<h2>Cadastrar Veículo</h2>
<%if(@vehicle.errors.any?)%>
  <p>Verifique os erros abaixo:</p>
  <ul>
    <% @vehicle.errors.full_messages.each do |msg|%>
      <li><%= msg %> </li>
    <%end%>
  </ul>
<%end%>

<%= form_with(model: @vehicle, url: vehicles_path ) do |f| %>
  <%= render "form", f:f %>
<% end %>